<!DOCTYPE html>
 <html>
 <head>
	<meta charset='UTF-8'>
   	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
 	<title>Koll på läget</title>

 	<STYLE TYPE="text/css">
      P.breakhere {page-break-before: always}
</STYLE>
<link rel="stylesheet" href="{{url|.}}/Public/Files/Huvud-_och_halscancer/hh_kpl/css/print.css" type="text/css" media="print">

 	<script type='text/javascript' src='{{url|.}}/Public/Files/Huvud-_och_halscancer/hh_kpl/js/jquery-1.11.1.js'></script>
 	<script type='text/javascript' src='{{url|.}}/Public/Files/Prostataregistret/npcr_kpl/js/highcharts.js'></script>
   	<script type='text/javascript' src='{{url|.}}/Public/Files/Huvud-_och_halscancer/hh_kpl/js/kpl_klinik_region_riket.js'></script>
